body {
  background: url('../images/thenight.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow-x: hidden;
}

#logo {
  /*margin-left: 10%;
  margin-top: 5%;
  position: relative;*/
}

#rad{
  margin-top: 3%;
  position: relative;
}


#logg-inn {

}


#col-hoyre > {

}

#col-venstre{

}