body {
  background: url('../images/thenight.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#logo {
  margin-left: 10%;
  margin-top: 5%;
  position: relative;
}

#logg-inn {
  margin-top: 5%;

  position: relative;
}


#col-hoyre > {
  background-color: #005cbf;
}

#col-venstre{

}