body {
  background: url('../images/thenight.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow-x: hidden;
}

#rad{
  margin-top: 3%;
  position: relative;
  margin-bottom: 17%;
}


#logg-inn {
  position: relative;
  margin-top: 10%;
}

.col-sm-10{
  background-color: rgba(255,255,255, 0.7);
  border-radius: 20px;
}

.input-sm {
  width: 40%;
  position: relative;
}

.form-control{
  position: relative;
  margin-bottom: 1%;
}

#whitebox{
  padding: 1%;
}