body{

    background-image: linear-gradient(to bottom, #e3ded4, #e4dfd7, #e4e0da, #e5e2dd, #e5e3e0);
    overflow-x: hidden;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
h5{
    text-align: center;
}
#logo {
  background-image: url("../images/Hotell_logo.png");
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  width: 200px;
  height: 200px;
}
