{%  extends "base.html" %}
{% load static %}

{% block title %}
Skikkelig Fancy Hotell
{% endblock %}

<!-- NEDENFOR HAR JEG faktisk lagt til css-en til forside enda en gang. EN av variantene kan godt fjernes, men da ser man de to måtene det går an å gjøre det på. -->
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/forside.css" %}">
{% endblock %}

{% load crispy_forms_tags %}


{% block content%}
    <div id="rad">
        <div class = "row" >
            <div class = "col-sm-4" id="col-venstre">
                 <div class="text-center">
                         <a class="navbar-brand" href="#" >
                         <img src="/static/images/Hotell_logo2.png" width="201.3" height="85.8" alt="" >
                         </a>
                  </div>
            </div>
            <div class="col-sm-4"></div>
            <div  class = "col-sm-2">
                <div class="text-center">
                    <a href="/signup"><button type="button" class="btn btn-outline-dark" id="logg-inn" >Lag bruker</button></a>
                </div>
            </div>
            {%if user.is_authenticated%}
                <div class = "col-sm-2" >
                    <div class="text-center">
                        <a href="/logout"><button type="button" class="btn btn-outline-dark" id="logg-inn" >Logg ut</button></a>
                    </div>
                </div>
            {%else%}
                <div class = "col-sm-2" >
                    <div class="text-center">
                        <a href="/login"><button type="button" class="btn btn-outline-dark" id="logg-inn" >Logg inn</button></a>
                    </div>
                </div>
            {%endif%}
        </div>
    </div>

    <div id="rad2">
        <div class="row">
            <div class="col-sm-1" ></div>
                <div class="col-sm-10" id="whitebox" >
                    <h5>Her velger du dato for oppholdet:</h5>
                    <input type="password" class="form-control"  placeholder="Startdato" name="startdato">
                    <h5>Til:</h5>
                    <!--################ her måtte jeg legge en div rundt inputen for å klare å overkjøre bootstrap-stylen og få litt margin mellom knapp og input. FJERNET ALTSÅ DENNE DIV'N-->
                    <!--## OOOBS fant ut at du hvis du legger linken til ditt eget stilark øverst, skal det ordne seg. -->
                    <input type="password" class="form-control"  placeholder="Sluttdato" name="sluttdato">
                    <a href="/se_rom"><button type="submit" class="btn btn-primary" >Se tilgjengelige rom</button></a>
                </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
{% endblock %}

