<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/se_rom.css">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <title>Se ledige rom</title>
</head>
<body>




<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="height: 100px">
  <!-- Brand -->
  <a class="navbar-brand" href="forside.html">Forside</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#" style="margin-top: 82px">Dato</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="margin-top: 82px" >Dato</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="margin-top: 82px">
        Antall personer
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">1 Person</a>
        <a class="dropdown-item" href="#">2 Personer</a>
        <a class="dropdown-item" href="#">3 Personer</a>
        <a class="dropdown-item" href="#">4 Personer</a>
      </div>
    </li>
      
    <li>
        <a href="forside.html" id="logo" style="margin-left: 210px"> </a>
    </li>

    <li>
          <button type="button" style="margin-left: 340px; margin-top: 82px" class="btn btn-outline-info">Oppdater</button>
    </li>
  </ul>
</nav>



<div class="row" style="margin-top: 50px">
    
    <div style="margin-left: 110px"></div>
    
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../images/standard_singel.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Standard Singel</h5>
            <p class="card-text" style="text-align: left">
            Et lite rom for dem som vil oppleve Trondehim alene.
                <li style="margin-left: 12px">13 - 16 m²</li>
                <li style="margin-left: 12px">TV og betalt internett</li>

            </p>
            <div class="row">
                <a type="button" style="margin-top: 26px;margin-left: 10px" href="#" class="btn btn-outline-secondary">Bestill</a>
                <p style="margin-left: 80px; margin-top: 26px; color: #5a6268;"> 1460 <small> NOK/natt</small></p>
            </div>
        </div>
    </div>

    <div style="margin-left: 110px"></div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../images/dobbelrom.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Dobbelrom</h5>
            <p class="card-text" style="text-align: left">Et dobbelt så stort rom for folk som trenger dobbelt så mye plass.
                <li style="margin-left: 12px">19 - 22 m²</li>
                <li style="margin-left: 12px">TV og betalt internett</li>
                <li style="margin-left: 12px">Inkludert frokost</li>
            </p>
            <div class="row">
                <a type="button" href="#" style="margin-left: 10px" class="btn btn-outline-secondary">Bestill</a>
                <p style="margin-left: 80px; color: #5a6268;"> 2100 <small> NOK/natt</small></p>
            </div>
        </div>
    </div>

    <div style="margin-left: 110px"></div>

     <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../images/superior.jpg" alt="Card image cap", style="height: 192px">
        <div class="card-body">
            <h5 class="card-title">Superior</h5>
            <p class="card-text"style="text-align: left">Toppen av luksus her på Skikkelig Fancy Hotell.
                <li style="margin-left: 12px">22 - 30 m²</li>
                <li style="margin-left: 12px">TV og inkludert internett</li>
                <li style="margin-left: 12px">Inkludert frokost</li>
            </p>
            <div class="row">
                <a type="button" href="#" style="margin-left: 10px" class="btn btn-outline-secondary">Bestill</a>
                <p style="margin-left: 80px;color: #5a6268;"> 3400 <small> NOK/natt</small></p>
            </div>
        </div>
    </div>
</div>



</body>
</html>

